p Yo your are still at Cold Brewology, a place about all things cold brew related. This is article number 2! Which has different information than article number one.

p We'll be updating this site frequestly with rich content and geeky articles. Also, feel free to visit the store which we have carfully curated many cold brew related products that we swear by. 
p Thank you for visiting and drink good coffee!
