@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.measure-lines-container {
  $color: rgba($brown, 0.3);
  $lineColor: rgba($brown, 0.08);
  position: relative;
  grid-area: measuring-lines;
  > ul.measure-lines {
    position: absolute;
    width: 3rem;
    top: 0;
    right: 10%;
    list-style: none;
    > li.line {
      position: relative;
      height: 10rem;
      color: $color;
      font-family: $main;
      font-size: $small;
      &:before {
        content: '';
        @include super-center(-82%, 0.58rem);
        height: 2px;
        width: 3.8rem;
        background-color: $lineColor;
      }
    }
  }
}
