@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

section.articles-list-section {
  display: grid;
  grid-template-columns: 1fr 85%;
  grid-template-rows: 100%;
  grid-template-areas: "measuring-lines article-list";
  width: 100%;
  min-height: 100rem;
  .articles-list {
    grid-area: article-list;
    [class^="article-"] {
      @include box-shadow(2);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 80%;
      grid-template-areas:
        "title title info"
        "image preview preview";
      position: relative;
      margin: 1em;
      padding: 1em;
      text-decoration: none;
      .title {
        grid-area: title;
        .author {

        }
      }
      .info-container {
        grid-area: info;
        .date {
          width: 100%;
        }
        .geek-level {
          width: 100%;
        }
      }
      .image {
        grid-area: image;
      }
      .preview {
        grid-area: preview;
      }
    }
  }
}
