// base
html, body {
  position: relative;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
  @media screen and (min-width: $tablet-width) {
    font-size: 17px;
  }
  @media screen and (min-width: $small-desktop-width) {
    font-size: 18px;
  }
}
body {
  overflow-x: hidden;
  background-color: $offwhite;
}

// main
main {
  width: 100%;
  max-width: $site-max-width;
  margin: 0 auto;
  overflow: hidden;
  background-color: $white;
}

// text
h1 {
  font-size: $h1;
  font-family: $cabin;
  font-weight: bold;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  font-size: $p;
  font-family: $cabin;
}
