// base
html, body {
  position: relative;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  @media screen and (min-width: $tablet-width) {
    font-size: 17px;
  }
  @media screen and (min-width: $small-desktop-width) {
    font-size: 18px;
  }
}
body {
  overflow-x: hidden;
}

// main
.main {
  width: 100%;
  max-width: $site-max-width;
  margin: 0 auto;
  overflow: hidden;
}
