@import '../../style/helpers/variables';

.home-header {
  height: 20em;
  padding: 1em;
  background-color: rgb(100, 45, 65);
  text-align: center;
  h1 {
    color: $white;
    font-size: 3em;
  }
  h2 {
    color: $white;
    font-size: 1.25em;
    font-weight: 200;
  }
}
