@import '../../style/helpers/variables';
@import '../../style/helpers/mixins';

.home-header {
  position: relative;
  height: 20rem;
  padding: 1rem;
  background-color: transparent;
  text-align: center;
  h1 {
    @include super-center();
    width: 100%;
    margin: 0;
    color: $brown;
    font-size: $title;
    text-transform: uppercase;
    font-weight: 400;
    > span {
      font-weight: 700;
    }
  }
}
